/*Global styles*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html, body {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
}

.margin-top-reset {
    margin-top: 0;
}


/*navbar*/
nav {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    padding-left: 3%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: none;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-back {
    background-color: #f7f7f7;
}

.active {
    border-bottom: 3px solid #48656F;
}


/*fonts*/
h1 {
    font-family: 'Alice', serif;
    font-weight: 500;
    font-size: 3em;
    color: #3f5f6a;
}

h2, h3 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #3f5f6a
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3f5f6a
}

p, li {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #3f5f6a;
}

hr {
    width: 50%;
    text-align: center;
    border: solid 1px white;
    border-radius: 30px;
}


/* colors */ 
.light-blue {
    color: #B2C1CE;
}

.dark-blue {
    color: #48656F;
}

.white {
    color: white;
}

.back-white {
    background-color: white;
}

.back-gray {
    background-color: #f7f7f7;
}

/*footer*/ 
footer {
    background-color: #48656F;
    padding: 10px;
    height: 100px;
}

footer p {
    color: white;
}


/*page stylings*/
main {
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.section-padd {
    padding: 100px 0px 100px 0px;
}

.colored-back {
    background-color: #80958B;
    color: white;
}

.colored-back-2 {
    background-color: #B2C1CE;
    color: black;
}

img {
    height: auto;
}

.img-right {
    margin-left: 30%;
}

.text-left {
    text-align: left;
    padding-left: 25%;
}

.gallery-img {
    width: 70%;
}

#us {
    padding-top: 100px;
    width: 500px;
    height: 300px;
    background-color: #B2C1CE;
    margin: 0 auto;
}

.names {
    text-transform: uppercase; 
    font-weight: 500;
    margin-bottom: 0;
}

.white-button {
    color: #FFFDFA;
    background-color: #80958B;
    border: 2px solid #FFFDFA;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.trans-button {
    color: #FFFDFA;
    background-color: transparent;
    border: 2px solid #FFFDFA;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.white-button:hover {
    color: #B2C1CE;
    border: 2px solid #B2C1CE;
}

.white-link {
    color: #FFFDFA;
}

.blue-button {
    color: #48656F;
    background-color: #FFFDFA;
    border: 2px solid #48656F;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.blue-button:hover {
    color: #B2C1CE;
    border: 2px solid #B2C1CE;
}

a {
    color: #366754;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.section-padd-small {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*parallax effect*/
.para-home {
    background-image: url("Assets/walking.jpg");
}

.para-reg {
    background-image: url("Assets/laugh.jpg");
}

.para-rsvp {
    background-image: url("Assets/spin.jpg");
}

.para-sched {
    background-image: url("Assets/our rings.jpg");
}

.para-us {
    background-image: url("Assets/kiss.jpg");
    filter: brightness(.8);
}

.para {
    /* Full height */
    min-height: 400px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.9);
  }

  .para-tall {
        /* Full height */
        min-height: 600px;
        width: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000;
        filter: brightness(.8);
  }

  .caption {
    position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    text-align: center;
    color: white;
    filter: brightness(1.0);
  }

  .caption-tall {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    text-align: center;
    color: white;
    filter: brightness(1.0);
  }

  .caption-us {
    position: absolute;
    left: 0;
    margin-top: -275px;
    width: 100%;
    text-align: center;
    color: white;
    filter: brightness(1.0);
  }

  /*turn off parallax effect for mobile*/
@media only screen and (min-width: 3000px) {
    .caption-tall {
        top: 30%;
    }
    
}

  @media only screen and (max-device-width: 1366px) {
    .para {
      background-attachment: scroll;
    }
  }

  @media only screen and (min-width: 701px) {
    .reg-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-left: 100px;
        padding-right: 100px;
      }
    
      .logo-1 {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 75%;
        margin: 0 auto;
      }
    
      .logo-2 {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 75%;
        margin: 0 auto;
      }
    
      .logo-3 {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 75%;
        margin: 0 auto;
      }

      .img-text-right {
        display: grid;
        padding: 2rem;
        grid-template-columns: 1fr 300px;
        gap: 50px;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 50px 0px 200px 0px;
      }
      .img-text-left {
        display: grid;
      padding: 2rem;
      grid-template-columns: 300px 1fr;
      gap: 50px;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      padding: 50px 0px 100px 0px;
      }

      .desk-text-mar {
        width: 50%
      }

  }

  @media only screen and (max-width: 700px) {
    .nav-back {
        overflow-x: hidden;
    }
    .img-text-left img,  .img-text-right img{
        width: 75%;
      }

      .img-text-left {
        padding-top: 50px;
      }

      .img-text-left img {
        padding-top: 10px !important;
      }
      header .centered-img {
        width: 100% !important;
      }
      #right, #left {
        float: none !important;
        width: 100% !important;
      }
      .lastname, .lastname input {
        margin-left: -10px;
      }

    #countdown ul {
        padding-left: 0px;
    }

    .para-tall, .para-us  {
        background-attachment: scroll;
    }

    }

    .mobile-text-pad {
        padding-left: 25px;
        padding-right: 25px;
    }


  /*countdown*/ 

  #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: #708b7f;
  }
  
  #countdown li span {
    display: block;
    font-size: 4.5rem;
  }

  .count-container {
    padding: 50px 0px 75px 0px;
    background-color: #f7f7f7;
  }

  .count-container h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }


  /*Registry page*/

  .logo-1, .logo-2, .logo-3 {
    width: 100%;
    cursor: pointer;
  }

  /*RSVP Page*/

  .img-text-left img {
    max-width: 100%;
    height: auto;
  }

  .sect-padd-bottom {
    padding-bottom: 150px;
  }

  .form-sect {
    display:flex;
    justify-content: center;
  }

  #right {
    float: right;
    margin-left: 10px;
    width: 48%
  }
    
    #left {
    float: left; 
    margin-right: 10px;
    width: 48%
  }

  form input, form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  form label {
    width: 100%;
    margin-bottom: 25px;
  }

  form {
    background-color: #80958B;
    padding: 100px 50px 100px 50px;
    border-radius: 15px;
    width: 55%;
  }

  form label {
    color: white;
  }

  .form-button {
    text-align: center;
  }

  #home-title {
    font-size: 4em;
  }


