/*Global styles*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,600;6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

html, body {
    background-color: #FFFDFA;
    padding: 0;
    margin: 0;
    height: 100%;
}

/*navbar*/
nav {
    position: relative;
    margin: auto;
    width: 350px;
    height: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: none;
}

.active {
    border-bottom: 3px solid #48656F;
}

/*fonts*/
h1 {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 3em;
}

h2, h3 {
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

p, li {
    font-family: 'Quicksand', sans-serif;
}

hr {
    width: 50%;
    text-align: center;
}

/*footer*/ 
footer {
    background-color: #48656F;
    padding: 10px;
    width: 100%;
    color: white;
    padding: 10px;
    padding-left: 15%;
    height: 100px;
}

/*page stylings*/

main {
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.section-padd {
    padding: 100px 0px 100px 0px;
}

.colored-back {
    background-color: #80958B;
    color: white;
}

.colored-back-2 {
    background-color: #B2C1CE;
    color: black;
}

img {
    height: auto;
}

.img-right {
    margin-left: 30%;
}

.text-left {
    text-align: left;
    padding-left: 25%;
}

.gallery-img {
    width: 50%;
}

#us {
    padding-top: 100px;
    width: 500px;
    height: 300px;
    background-color: #B2C1CE;
    margin: 0 auto;
}

.white-button {
    color: #FFFDFA;
    background-color: #80958B;
    border: 2px solid #FFFDFA;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.white-button:hover {
    color: #B2C1CE;
    border: 2px solid #B2C1CE;
}

.white-link {
    color: #FFFDFA;
}

.blue-button {
    color: #48656F;
    background-color: #FFFDFA;
    border: 2px solid #48656F;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.blue-button:hover {
    color: #B2C1CE;
    border: 2px solid #B2C1CE;
}

a {
    color: #366754;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

/*parallax effect*/

.para-home {
    background-image: url("Assets/holding-hands.jpg");
}

.para-reg {
    background-image: url("Assets/wedding.jpg");
}

.para-rsvp {
    background-image: url("Assets/para-rsvp.jpg");
}

.para-sched {
    background-image: url("Assets/rings.jpg");
}

.para {
    /* The image used */
  
    /* Full height */
    min-height: 400px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*turn off parallax effect for mobile*/
  @media only screen and (max-device-width: 1366px) {
    .para {
      background-attachment: scroll;
    }
  }

  /*countdown*/ 

  #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown li span {
    display: block;
    font-size: 4.5rem;
  }

  .count-container {
    padding: 50px 0px 75px 0px;
  }

  .count-container h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }


  /*Registry page*/
  
  .reg-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .logo-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 75%;
    margin: 0 auto;
  }

  .logo-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 75%;
    margin: 0 auto;
  }

  .logo-3 {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 75%;
    margin: 0 auto;
  }

  /*RSVP Page*/
  .img-text-left {
    display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 50px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0px 100px 0px;
  }

  .img-text-left img {
    max-width: 100%;
    height: auto;
  }

  .img-text-right {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 300px;
    gap: 50px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0px 200px 0px;
  }

  .sect-padd-bottom {
    padding-bottom: 150px;
  }

  .form-sect {
    display:flex;
    justify-content: center;
  }

  #right {
    float: right;
    margin-left: 10px;
  }
    
    #left {
    float: left; 
    margin-right: 10px;
  }

  form input, form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  form label {
    width: 100%;
    margin-bottom: 25px;
  }

  form {
    background-color: #80958B;
    padding: 100px 50px 100px 50px;
  }

  form label {
    color: white;
  }

  .form-button {
    text-align: center;
  }

